<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="telephone=no" name="format-detection" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="referrer" content="never" charset=UTF-8>
  <title></title>
</head>

<body>
  <div id="app"></div>

  <input type="hidden" id="userid" name="" value="217502" />
  <input type="hidden" id="ptype" name="" value="1" />
  <input type="hidden" id="deviceid" name="" value="ios_test" />
  <input type="hidden" id="unix" name="" value="1723531971" />
  <input type="hidden" id="token" name="" value="rcra2regwd9sgoscss8ftccf8bs4kaj6ftdgiuqp" />
  <input type="hidden" id="keycode" name="" value="933E614D06D78425B0343633DAF7F042" />
  <input type="hidden" id="barheight" name="" value="20" />
  <input type="hidden" id="appversion" name="" value="1" />

  <script type="module" src="./main.ts"></script>
</body>

</html>